* {
  box-sizing: border-box;
}

button {
  height: 25px;
  width: 25px;
  background: black;
  color: white;
  font-size: 16px;
  border-radius: 50%;
  border: none;
}

.App {
  width: 800px;
  margin: 0 auto;
  padding: 10px;
}

.todo {
  display: flex;
  align-items: center;
}

.delete-button {
  color: white;
  background: red;
  margin-left: 25px;
}

.form {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-top: 100px;
  margin-bottom: 100px;
}

.form-input {
  width: 70%;
}

.form-input input {
  width: 80%;
  border: none;
  margin-right: 20px;
  border-bottom: 1px solid black;
  padding: 10px;
  outline: none;
}

.form-input input[placeholder] {
  font-size: 16px;
}
